:root {
  --body-background-color: #fff;
  --body-text-color: #303436;
  --card-background-color: #fcf6ee;
  --card-border-color: #9c9382;
  --nav-background-color: #fcf6ee;
  --nav-border-bottom-color: #a0845b;
  --error-button-background-color: #ff7070;
  --error-button-border-color: #ff7070;
  --submit-button-border-color: #70ffa9;
  --submit-button-background-color: #70ffa9;
  --submit-button-color: #ffffff;
  --graph-opacity: 0.8;
  --graph-filter: brightness(0) saturate(100%) invert(18%) sepia(7%)
    saturate(552%) hue-rotate(155deg) brightness(97%) contrast(93%);
}
