:root {
  --body-background-color: #fff;
  --body-text-color: #303436;
  --card-background-color: #fff;
  --card-border-color: #fcf6ee;
  --nav-background-color: #303436;
  --nav-border-bottom-color: #a0845b;
  --nav-text-color: #ffffff;
  --error-button-background-color: #ff7070;
  --error-button-border-color: #ff7070;
  --submit-button-border-color: #70ffa9;
  --submit-button-background-color: #70ffa9;
  --submit-button-color: #ffffff;
  --graph-opacity: 0.8;
  --graph-filter: brightness(0) saturate(100%) invert(87%) sepia(6%)
    saturate(3421%) hue-rotate(349deg) brightness(118%) contrast(107%);
}
